body{
    background: #f1fbff;
}

.nav-link{
    color: black;
    font-weight: bold;
}

.nav-link:hover{
    color:#ffbf35;
}

h1{
    color: #ffbf35;
}
footer{
    color: black;
}

 /* .card-text2{
    margin-bottom: 5%;
} 
.card-text3{
    margin-top: 10%;
}  */

 .card-img-top2 {
    height: 16.7rem;
} 